.largeur {
  width: 105px;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  width: 80%;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: #02C99D;
  text-align: center;
  padding: 20px;
}

form {
width: 80%;
margin: 0 auto;
}

.info {
width: 80%;
margin: 0 auto;
}

input {
  width: 80%;
}

hr {
  border: 1px solid #02C99D;
  width: 60%;
}

.chat {
  width: 47%;
  margin: 0 auto;
}
